@using SightsView.Web.ViewModels.Countries;
@model CountriesCreationsViewModel
@{
    this.ViewData["Title"] = "Country";
}

<br />

<div class="text-dark text-center">
    <h1>@Model.Name</h1>
</div>

<hr />

<div class="gallery" id="gallery">
</div>

<br />

<div>
    <button type="button" class="btn btn-dark btn-block mb-lg-5" onclick="onClickLoad()">Load More</button>
</div>

<input id="elementId" type="hidden" value="@Model.Id" />

<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script asp-append-version="true" src="~/js/loadCountry.js"></script>
}
