@{
    this.ViewData["Title"] = "Country";
}

<h1>Country creations list</h1>
<button class="btn btn-outline-primary" onclick="goBack()">Go Back to Previous Page</button>

@section Scripts {
    <script>
function goBack() {
  window.history.back();
}
    </script>
}
