@using SightsView.Web.ViewModels.Countries;
@model CountriesCreationsViewModel
@{
    this.ViewData["Title"] = "Country";
}

<br />

<div class="text-dark text-center">
    <h1>@Model.Name</h1>
</div>

<hr />

<div class="gallery" id="gallery">
    @*@foreach (var creation in Model.Creations)
        {
            <div class="pics mb-3 animation all 1">
                <a asp-controller="Creations" asp-action="Load" asp-route-id=@creation.Id>
                    <img class="img-fluid" src="@creation.CreationDataUrl" alt="Card image cap">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                    </div>
                </a>
            </div>
        }*@
</div>

<br />

<div>
    <button type="button" class="btn btn-dark btn-block mb-lg-5" onclick="onClickLoad()">Load More</button>
</div>

<input id="countryId" type="hidden" value="@Model.Id" />
<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script asp-append-version="true" src="~/js/load.js"></script>
}
