@using SightsView.Common
@using SightsView.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Messages" asp-action="All">
                <img src="\mail.png" alt="icon" style="width: 20px" />
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Creations" asp-action="Upload">Upload</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-dark" href="#" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pofile</a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="nav-inner-primary_dropdown_1">
                <a class="dropdown-item text-white bg-dark"  title="Manage">@(this.User.Identity.Name)</a>
                <a class="dropdown-item" asp-area="" asp-controller="MySights" asp-action="Index">My Sight</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Edit Profile</a>
            </div>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
