@using SightsView.Common;
@model ErrorViewModel
@{
     this.ViewData["Title"] = "Error";
     var area = this.User.IsInRole(GlobalConstants.AdministratorRoleName)
     ? "Administration"
     : "";
}

<div class="container justify-content-center">
    <div>
        @if (@Model.StatusCode == "404")
        {
            <div class="col-8 offset-2 mb-1">
                <img src="\pics\NotFound.jpg" alt="icon" style="width: 100%" />

                <h3 class="mt-0 text-danger">We are sorry, but the page you requested was not found, but you can check our Home Page.</h3>

                <a asp-controller="Home" asp-action="Index" type="submit" class="btn btn-block btn-dark">Home Page Teleport</a>
            </div>
        }
        else
        {
            <div class="col-8 offset-2 mb-1">
                <h1>Error</h1>
            </div>

            <h2 class="mt-0">An error occurred while processing your request.</h2>
        }
        <a asp-area="@area" asp-action="Index" asp-controller="Home" class="home-btn text-white">Go Home</a>
    </div>
</div>