@{
    this.ViewBag.Title = "Chat";
}

<br />

<div class="text-dark text-center">
    <h1>Live Chat</h1>
</div>

<div class="container col col-10 justify-content-center">
    <hr style="height: 5px;" class="bg-dark col-12" />

    <div id="messagesList">
    </div>

    <hr style="height: 5px;" class="bg-dark col-12" />

    <div id="message-holder" class="mt-3 d-flex justify-content-start">
        <input placeholder="What's on your mind ..." class="col-9 rounded-lg" type="text" id="messageInput" />
        <button id="sendButton" class="ml-4 btn btn-dark col-3">Send</button>
    </div>
</div>

@section Scripts {
    <script asp-append-version="true" src="~/js/chat.js"></script>
}