@using SightsView.Web.ViewModels.Home
@model HomeIndexViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

<br />

<h1 class="text-dark text-center mb-lg-5">Welcome to SightsView</h1>

<br />

<div class="col-md-3 mb-3">
    <div class="img-thumbnail">
        <img src="" alt="..." class="img-thumbnail">
    </div>
</div>

<div class="card text-center bg-dark mb-lg-5">
    <div class="card-header text-white text-center">
        <h3>Most popular locations</h3>
    </div>

    <div class="card-body bg-light">
        <div class="container">
            <div class="row">

                @foreach (var country in @Model.CountriesWithMostImages)
                {
                    <div class="col-md-3 mb-3">
                        <div class="img-thumbnail">
                            <img src="@country.DataURL" alt="..." class="img-thumbnail">
                            <a asp-for class="btn btn-dark text-center col-md-12" asp-controller="Countries" asp-action="Index" asp-route-id=@country.Id>@country.Name</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="card-footer text-muted bg-dark">
    </div>
</div>

<br />

<div class="gallery" id="gallery">
    @foreach (var creation in Model.Creations)
    {

        <div class="mb-3 pics animation all 1">
            <a asp-controller="Creations" asp-action="Load" asp-route-id=@creation.Id>
                <img class="img-fluid" src="@creation.DataUrl" alt="Card image cap">
            </a>
        </div>

    }
</div>

@section Scripts {
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script>
        $(document).on('click', '.img', function () {
            $('#modal .modal-body').html($('.img').clone()[0]);
            $('#modal').modal('show');
        })
    </script>
}
