@using SightsView.Web.ViewModels.Equipments;
@model EquipmentsAddInputModel
@{
    this.ViewData["Title"] = "Add Equipment Page";
}

<br />
<hr />

<form method="post" enctype="application/x-www-form-urlencoded">
    <input asp-for="CreationId" hidden />

    <div class="form-group col-md-6 offset-3">
        <input asp-for="Brand" placeholder="Brand" class="form-control text-center" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6 offset-3">
        <input asp-for="Model" placeholder="Model" class="form-control text-center" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6 offset-3">
        <input asp-for="Accessoaries" placeholder="Accessoaries" class="form-control text-center" />
        <span asp-validation-for="Accessoaries" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6 offset-3">
        <textarea asp-for="Notes" placeholder="Notes" class="form-control text-center" rows="5"></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark col-md-4 offset-4">Add</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
