@using SightsView.Web.ViewModels.Categories;
@model CategoriesViewModel
@{
    this.ViewData["Title"] = "Edit Category";
}

<br />

<div class="text-dark text-center">
    <h1>Edit Category</h1>
</div>

<hr />

<div class="container col-md-6 justify-content-center">
    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <input asp-for="Name" placeholder="@Model.Name" class="form-control text-center" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <textarea asp-for="Description" placeholder="@Model.Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-dark col-8 offset-2">Save Changes</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
