@using SightsView.Web.ViewModels.Replies;
@model RepliesAddInputModel
@{
    this.ViewData["Title"] = "Add reply";
}

<br />

<div class="text-dark text-center">
    <h1>Add a Reply</h1>
</div>

<hr />

<div class="container col-md-6 justify-content-center">
    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <textarea asp-for="Content" placeholder="Comment" class="form-control text-center" rows="5"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <input asp-for="CommentId" hidden />

        <button type="submit" class="btn btn-dark col-8 offset-2">Add Reply</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
