@using SightsView.Web.ViewModels.Details;
@model DetailsEditInputModel
@{
    this.ViewData["Title"] = "Edit Details Page";
}

<br />

<div class="text-dark text-center">
    <h1>Edit Details</h1>
</div>

<hr />

<div class="container col-md-6 justify-content-center">
    <form method="post" enctype="application/x-www-form-urlencoded">
        <input asp-for="Id" hidden />

        <input asp-for="CreatorId" hidden />

        <input asp-for="DetailsId" hidden />

        <div class="form-group">
            <input asp-for="DetailsApereture" placeholder="@Model.PlaceholderAppereture" class="form-control text-center" />
            <span asp-validation-for="DetailsApereture" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="DetailsShutterSpeed" placeholder="@Model.PlaceholderShutterSpeed" class="form-control text-center" />
            <span asp-validation-for="DetailsShutterSpeed" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="DetailsIso" placeholder="@Model.PlaceholderIso" class="form-control text-center" />
            <span asp-validation-for="DetailsIso" class="text-danger"></span>
        </div>

        <div class="form-group">
            <textarea asp-for="DetailsTipAndTricks" placeholder="@Model.DetailsTipAndTricks" class="form-control text-center" rows="5"></textarea>
            <span asp-validation-for="DetailsTipAndTricks" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-dark col-8 offset-2">Save Changes</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
