@using SightsView.Web.ViewModels.Creations;
@model CreationsUploadInputModel
@{
    this.ViewData["Title"] = "Upload Creation";
}

<br />

<div class="text-dark text-center">
    <h1>Share your creation</h1>
</div>

<hr />

<div class="container col-md-6 justify-content-center">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input asp-for="Creation" type="file" id="customFile" class="custom-file-input form-control">
            <span asp-validation-for="Creation" class="text-danger"></span>

            <label class="custom-file-label form-control" for="customFile">Choose Creation</label>
        </div>

        <div class="form-group">
            <input asp-for="Title" placeholder="Title" class="form-control text-center" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <textarea asp-for="Description" placeholder="Description" class="form-control text-center" rows="10"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <select asp-for="Privacy" class="form-control text-center">
                <option>Public</option>

                <option>Private</option>
            </select>
        </div>

        <div class="form-group">
            <select asp-for="Category" class="form-control text-center" asp-items="@Model.Categories"></select>
        </div>

        <div class="form-group">
            <select asp-for="Country" class="form-control text-center" asp-items="@Model.Countries"></select>
        </div>

        <div class="form-group">
            <textarea asp-for="Tags" placeholder="Tags" class="form-control text-center"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block btn-dark">Upload</button>
        </div>
    </form>
</div>

@section Scripts {
    <script asp-append-version="true" src="~/js/upload.js"></script>
}

