@using SightsView.Web.ViewModels.Explore;
@model ExploreIndexViewModel
@{
    this.ViewData["Title"] = "Explore Page";
}

<ul class="nav justify-content-center">
    <li class="nav-item mx-1">
        <a asp-controller="Explore" asp-action="Index" asp-route-id=@null class="nav-link btn btn-dark active">All Creations</a>
    </li>

    @foreach (var category in Model.TopCategories)
    {
        <li class="nav-item mx-1">
            <a asp-controller="Explore" asp-action="Index" asp-route-id=@category.Id class="nav-link btn btn-dark active">@category.Name</a>
        </li>
    }

    <li class="nav-item navbar-light bg-light">
        <form method="get" class="form-inline mx-1" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <input asp-for="SearchInput" placeholder="Search" class="form-control mx-1" />
                <span asp-validation-for="SearchInput" class="text-danger"></span>
            </div>

            <button asp-controller="Explore" asp-action="Search" class="btn btn-outline-dark my-3 my-sm-0" type="submit">Search</button>
        </form>
    </li>
</ul>

<hr />

<br />

<div class="gallery" id="gallery">
    @foreach (var creation in Model.Creations)
    {
        <div class="pics mb-3 animation all 1">
            <a asp-controller="Creations" asp-action="Load" asp-route-id=@creation.Id>
                <img class="img-fluid" src="@creation.CreationDataUrl" alt="Card image cap">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                </div>
            </a>
        </div>
    }
</div>

<br />

<div>
    <a type="button" class="btn btn-dark btn-block mb-lg-5" asp-controller="Categories" asp-action="Add">Load More</a>
</div>