@using SightsView.Web.ViewModels.Comments;
@model CommentsEditViewModel
@{
    this.ViewData["Title"] = "Edit Comment Page";
}

<br />

<div class="text-dark text-center">
    <h1>Edit Comment</h1>
</div>

<hr />

<div class="container col-md-6 justify-content-center">
    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <textarea asp-for="Content" placeholder="@Model.Content" class="form-control text-center" rows="5"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <input asp-for="CreationId" hidden />

        <button type="submit" class="btn btn-dark col-8 offset-2">Save Changes</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
